@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-family: var(--font-roboto);
    @apply text-3xl;
    @apply font-bold;
  }
  h2 {
    font-family: var(--font-roboto);
    @apply text-xl;
    @apply font-bold;
    @apply uppercase;
  }
  p {
    margin-top: 0;
    margin-bottom: 12px;
  }
}

@layer components {
  img.framed {
    @apply border-0;
    @apply p-4;
    box-shadow:
      -50px -50px 0 -44px theme("colors.teal.600"),
      50px 50px 0 -44px theme("colors.teal.600");
  }
}